*{
    padding: 0px; margin: 0px;box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url('back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
nav
{
    width: 100%; height: 15vh;
    background-color: rgba(0, 0,0,0.3);
    color: white;
    display: flex; justify-content: space-between; align-items: center; text-transform: uppercase;
}
nav .logo{
    width: 25%;
    margin-left: 25px;
    /* background-color: yellow; */
}
nav .menu
{
    width: 40%;
    /* background-color:red; */
    display: flex; justify-content: space-around;
}
nav .menu a{
    text-decoration: none;
    width: 25%;
    color: white;
    font-weight: bolder;
}
nav .menu a:first-child{
    color: #00b894;
}
main 
{
    width: 100%; height: 85vh;
    display: flex; justify-content: center; align-items: center;text-align: center;
    color: white;
}
main section h3{
    font-size: 35px; letter-spacing: 3px; text-shadow: 1px 1px 2px black; font-weight: 200;
}
section h1{
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
    margin: 30px 0 20px 0;
}
section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1px;
}
.btone
{
    background: white;
    color: black;
    font-weight: bolder;
}
.btsec
{
    background: #00b894;
    color: #fff;
    font-weight: bolder;
}
.change_content::after{
    content:'';
    animation: changetext 10s infinite linear;
    color: #00b894;
}
@keyframes changetext {
    0%{content : "Kolkata";}
    20%{content : "Delhi";}
    35%{content : "Mumbai";}
    60%{content : "Srinagar";}
    80%{content : "Bardhaman";}
    100%{content : "Bengaluru";}
}